@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Shadows+Into+Light&display=swap');

[data-tts-block-id].tts-active,
[data-tts-sentence-id].tts-active {
    background : rgb(206, 225, 255, 0.9) !important ;
}

* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

:root {
    --primary-color : #dadccc;
    --secondary-color : #385c5d;
    --accent1-color : #c37c50;
    --accent2-color : #6ca38e;
    --white : #f3eded;
    --black : #000;
    --button-color : hsl(36 89% 47%);
    --button-color-hover : hsl(36 89% 57%);
    --nav-background-color : var(--accent2-color);
    --nav-link-color : #fff;
    --nav-hover-link-color : var(--accent2-color);
    --nav-hover-background-color : #fff;
    --heading-font : "Shadows Into Light",'static';
    --paragraph-font : "Roboto Slab",'san-serif';
}

body {
    font-family: var(--paragraph-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}



*, *:before, *:after {
    box-sizing: border-box;
}

/* Typography */
h1 { 
    font-size: 3rem;
}

h2 { 
    font-size: 2.5rem;
}

h3 { 
    font-size: 2rem;
}

h4 { 
    font-size: 1.5rem;
}

h5 { 
    font-size: 1.25rem;
}

h6 { 
    font-size: 1rem;
}

p {
    padding : 10px;
    color : #000;
}

img {
    width : 100%;
}

a { 
    text-decoration : none;
}

header, main, footer {
    max-width : 1280px;
    margin : auto;
}

header {
    display : grid;
    grid-template-columns : 200px auto;
    align-items : center;
    background-color : #3f3f3f;
    font-family: var(--heading-font);
}

nav {
    display : flex;
    font-family: var(--heading-font);
    text-decoration: none;
    justify-content : space-around;
}

nav a {
    display : flex;
    padding : 0.5rem;
    margin : -0.14rem;
    font-family: var(--heading-font);
    color : #dadada;
    text-decoration : none;
    font-size : x-large;
}

nav a:hover {
    background-color : #fff;
    color : #c37c50;
}

footer {
    display : flex;
    justify-content : space-between;
    align-items : center;
    padding : 1rem;
    background-color : #3f3f3f;
    margin-top : 100px;
}

footer p {
    color : #dadada;
}

.footer-menu {
    color : #dadada;
    text-decoration : none;
}

.sociallinks {
    display : flex;
    gap : 1rem;
}

.sociallinks img {
    width : 2rem;
}

.sociallinks a:hover {
    background-color : unset;
}

.grid {
    display : grid;
    grid-template-columns : repeat(12, 1fr);
    align-items : center;
}

.hero {
    position : relative;
}

.hero>img {
    display : block;
    width : 100%;
}

.button-box {
    background-color: var(--white);
    font-size: 20px;
    color: #3f3f3f;
    border-radius: 25px;
    padding: 1.5em;
    border: #3e3e3e solid 1px;
    box-shadow: 5px 3px 3px #000;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 900;
}

.button-box:hover {
    background-color: var(--button-color-hover);
}

.hero-msg {
    justify-content : center;
}

.home-title {
    margin : 50px 0 20px 0;
    color: var(--white);
    justify-self : center;
}

.home-subtitle {
    margin : 20px 0;
    color: var(--white);
    justify-self : center;
}

.newsletter {
    grid-column : 4 / 9;
    grid-row : 9 / 11;
    justify-self : center;
    justify-items : center;
    display : flex;
    flex-direction : column;
    margin : 1em 0;
}

.newsletter-form {
    display : flex;
    flex-direction : column;
    margin : 1em 0;
    padding : 1em 0;
}

.newsletter p {
    justify-self : center;
    font-size : 1.5em;
    margin : 1em 0 0 0;
}

.newsletter-form .field-grid {
    display : grid;
    grid-template-columns : 1fr 2fr;
    gap : 10px;
    margin : 1em;
    align-items : center;
}

.newsletter-form label {
    grid-column : 1;
    grid-row : 1;
    text-align : right;
    margin : 0;
}

.newsletter-form input {
    grid-column: 2;
    grid-row: 1;
}

.newsletter-form button {
    padding: 0.5em 1em;
}

.newsletter-form button:hover {
    background-color: var(--button-color-hover);
}

.card {
    margin : 100px 0;
    grid-row : 3;
    display : flex;
    flex-direction : column;
    align-items : center;
}

.rapids-card {
    grid-column : 2 / 4;
    grid-row : 2;
}

.camping-card {
    grid-column: 6 / 8;
    grid-row: 2;
}

.rivers-card {
    grid-column: 10 / 12;
    grid-row: 2;
}

.card-img {
    border : #fff solid 10px;
    width : 100%;
    transition : transform 0.5s;
    box-shadow : 5px 5px 10px #385c5d;
    margin : 20px 0;
}

.icon {
    width : 80px;
}

.card-caption {
    font-size : 1.4rem;
}

.background {
    height : 700px;
    grid-column : 1 / 13;
    grid-row : 3 / 9;
}

.mountains {
    grid-column : 2 / 8;
    grid-row : 3 / 9;
}

.msg {
    grid-column : 7 / 12;
    grid-row : 5 / 7;
    padding : 35px;
    box-shadow : 5px 5px 10px #6ca38e;
    line-height : 1.5em;
    display : flex;
    flex-direction : column;
}

.msg-title {
    line-height : 1em;
}

.modal-window>div {
    border-radius : 1rem;
}

.modal-window div:not(:last-of-type) {
    margin-bottom : 15px;
}

.modal-window {
    position : fixed;
    background-color : rgb(255, 255, 255, 0.25);
    top : 0;
    right : 0;
    bottom : 0;
    left : 0;
    z-index : 999;
    visibility : hidden;
    opacity : 0;
    transition : all 0.3s;
}

.modal-window:target {
    visibility : visible;
    opacity : 1;
}

.modal-window>div {
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 2em;
    background: white;
}

.modal-window img {
    max-width : 100%;
}

.modal-close {
    line-height : 50px;
    font-size : 80%;
    position : absolute;
    right : 0;
    text-align : center;
    top : 0;
    width : 70px;
    text-decoration : none;
}

.modal-close:hover {
    color : black;
}

.abs-heading1 {
    position : absolute;
    top : 10px;
    width : 100%;
    text-align : center;
    color : #fff;
    text-shadow : -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.abs-article {
    background-color : rgb(255, 255, 255, 0.35);
    position : absolute;
    top : 6rem;
    left : 6rem;
    right : 6rem;
}

.abs-article img {
    float : right;
    margin : 2rem;
    width : 15rem;
}

.abs-article p {
    color : #fff;
    text-shadow : -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size : x-large;
    text-align : center;
}

.history-section {
    margin : 50px 0;
    display : grid;
    grid-template-columns : 2fr 1fr 2fr;
    gap : 20px;
    align-items : center;
    text-align : justify;
}

.history-img {
    grid-column : 2 / 3;
    grid-row : 2;
}

.history-section p:first-of-type {
    grid-column : 1 / 2;
    grid-row : 2;
    padding : 0 20px;
}

.history-section p:last-of-type {
    grid-column : 3 / 4;
    grid-row : 2;
    padding : 0 20px;
}

.history-section>h2 {
    grid-column : 1 / -1;
    grid-row : 1;
    text-align : center;
    padding-bottom : 1rem;
}

.adventures {
    margin : 50px 0;
    display : grid;
    grid-template-columns : repeat(5, 1fr);
    gap : 1rem;
    justify-items : center;
}

.history h2, .adventures h2 {
    grid-column : 1 / -1;
    justify-self : center;
    padding : 1em 0;
}

figure:nth-of-type(odd) {
    align-self : center;
    background-color: #3f3f3f
}

figure:nth-of-type(even) {
    background-color : var(--accent1-color);
    align-self : center;
}

figcaption {
    text-align : center;
    padding : 1em 0;
    color: var(--white);
}

.history {
    display : grid;
    grid-template-columns : 2fr 1fr 2fr;
    gap : 2em;
    margin : 50px 0;
}

/* Contact Us */

.contactus {
    margin: 50px auto;
    gap: 30px 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}

.con-hero {
    grid-column: 1/-1;
    grid-row: 1/3;
    z-index: -1;
}

.contact {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 6;
    grid-row: 1 / 3;
    margin: 0 1em;
    background-color: rgba(1, 36, 46, 0.813);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #053442;
}

.contact-fields {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

input, label, textarea, select {
    font-size: 18px;
    padding: 10px;
}

label {
    margin-top: 20px;
    margin-bottom: 5px;
    color: rgb(179, 245, 224);
    letter-spacing: 0.5px;
}

.signup {
    margin-top: 20px;
    margin-bottom: 5px;
}

input:focus, textarea:focus, select:focus {
    border: #151313 solid 1px;
    background-color: #d7efde;
    color: #3f3f3f;
}

.submit {
    padding: 1.5em;
    margin: 1em;
    background-color: var(--white);
    color: #3f3f3f;
    border: 1px solid #3e3e3e;
    box-shadow: 5px 3px 3px #000;
    border-radius: 25px;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 900;
}

.address {
    grid-column: 7/-1;
    grid-row: 1/3;
    display: grid;
    grid-template-rows: 1fr 2fr;
}



.add-phone {
    grid-row: 1;
}

.add-phone a, .add-phone address {
    color : #fff;
    font-size : 24px;
    font-weight : 500;
    display: block;
    padding: 0.5em;
}



.employees {
    grid-column: 1 / -1;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
}


.employee:nth-of-type(1) { 
    grid-column: 2 / 4;
}

.employee:nth-of-type(2) {
    grid-column: 6 / 8;
}

.employee:nth-of-type(3) { 
    grid-column: 10 / 12;
}

.hrule {
    border: rgba(1, 36, 46, 0.813) solid 10px;
    grid-column: 1 / -1;
    grid-row: 3;
    display: block;
    border-width: 15px;
}


/*Trips*/

.trip-heading1 {
    text-align: center;
}

.grid.trips {
    display: flex;
    justify-content: space-between;
}

.trip-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trip-details-wrapper {
    margin-top: 10px;
}

.trip {
    display: block;
    margin-bottom: 10px;
}

.trip-details {
    margin-top: 10px;
    text-align: center;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.featured {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    gap: 2em;
    justify-items: center;
}

.trips-grid {
    display : grid;
    grid-template-columns : 3fr;
    gap: 1em 5px;
    margin: 50px auto;
}

.trip img {
    width: 100%;
}

.trip figcaption {
    margin-top: 10px;
    font-weight: bold;
}

.trip-details {
    margin-top: 10px;
    text-align: center;
}

.trips-grid h2 {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.trips-item {
    color: var(--secondary-color);
    font-weight: 600;
    padding: 10px;
    font-size: 17px;
    align-self: center;
}

.booknow {
    background-color: var(--nav-hover-link-color);
    color: var(--primary-color);
    border-style: double;
    border-color: var(--accent1-color);
    width: auto;
    font-size: .75em;
}

.booknow:hover {
    background-color: var(--accent1-color);
    color: var(--nav-hover-link-color);
    text-decoration: none;
}

.trips-table {
    border: 1px solid var(--accent1-color);
    font-size: 1em;
    width: 600px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

table {
    border: 1px solid var(--accent1-color);
    font-size: 1em;
    width: 600px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table {
    border-collapse: separate;
    text-indent: initial;
    border-spacing: 2px;
}

.trips-table h2 {
    text-align: center;
}

tfoot {
    font-size: .9em;
    background-color: var(--secondary-color);
    color: var(--nav-link-color);
}

thead {
    background-color: var(--secondary-color);
    color: var(--nav-link-color);
    font-size: 16px;
}

.contact-info {
    text-align: center;
}


.table-heading {
    text-align : center;
    font-weight : 700;
    font-size : 1.25em;
    letter-spacing : 1px;
}

.other-adventures {
    border: 1px solid var(--accent1-color);
    font-size: 1em;
    width: 600px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
}

.other-adventures h2 {
    text-align: center;
}