@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --primary-color: #dadccc;
    --secondary-color: #385c5d;
    --accent1-color: #c37c50;
    --accent2-color: #6ca38e;

    --nav-background-color: var(--accent2-color)
    --nav-link-color: ;
    --nav-hover-link-color:var(--accent2-color);
    --nav-hover-background-color: ;

    --heading-font: "Permanent Marker", 'cursive';
    --paragraph-font: 'Roboto', 'san-serif';
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    color: #000;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

header, main, footer {
    max-width: 1280px;
    margin: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/* CSS for header */
header {
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
    background-color: ;
}

.logo {
    width: 100px;
}

nav {
    display: flex;
    font-family: var(--heading-font);
    justify-content: space-around;
}

nav a {
    display: flex;
    padding: 1em;
    margin: 0;
    font-family: var(--heading-font);
    color: ;
    font-weight: 700;
    letter-spacing: 1px;
}

nav a:hover {
    background-color: ;
    color: ;
}

.cta {
    background-color: ;
    color: ;
    border: 1px solid #333;
    box-shadow: 10px 10px 5px #333;
    padding: 1em;
    border-radius: 10px;
    width: fit-content;
}

.cta:hover {
    background-color: ;
    color: ;
}

.cta:active {
    background-color: ;
    color: ;
}

/* CSS for hero images*/
.hero {
    position: relative;
    grid-column: 1/-1;
    grid-row: 1;
}

.hero>img {
    grid-column: 1/-1;
    grid-row: 1/6;
}

/* CSS for About Us */

