@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Permanent+Marker&display=swap');

:root {
    --primary-color: #dadccc;
    --secondary-color: #385c5d;
    --accent1_color: #c37c50;
    --accent2-color: #6ca38e;

    --heading-font:'Permanent Marker', cursive;
    --paragraph-font: 'Barlow', serif;

    --nav-background-color: #dadccc
    --nav-link-color: #6ca38e
    --nav-hover-link-color: #c37c50
    --nav-hover-background-color: #6ca38e
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h2 {
    font-family: "Permanent Marker", cursive;
}

h1, h2, h3, h4, h5, h6 {
    color: #385c5d;
}


header {
    padding: 20px;
    background-color: #dadccc;
}

p {
    padding: 25px;
}

nav {
    background-color: #dadccc;
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: #6ca38e;
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: #6ca38e;
}

nav a:hover {
    color: #c37c50;
    background-color: #6ca38e;
}