[data-tts-block-id].tts-active {
    background : rgb(206, 225, 255, 0.9) !important ;
    }
    [data-tts-sentence-id].tts-active {
    background : rgb(0, 89, 191, 0.7) !important ;
    }
    * {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    }
    *, *:before, *:after {
    box-sizing : border-box;
    }
    h1 {
    font-size : 3rem;
    }
    h2 {
    font-size : 2.5rem;
    }
    h3 {
    font-size : 2rem;
    }
    h4 {
    font-size : 1.5rem;
    }
    h5 {
    font-size : 1.25rem;
    }
    h6 {
    font-size : 1rem;
    }
    nav {
    display : flex;
    text-decoration : none;
    justify-content : space-around;
    }
    nav a {
    display : flex;
    padding : 0.5rem;
    margin : -0.14rem;
    color : #dadada;
    text-decoration : none;
    font-size : x-large;
    }
    nav a:hover {
    background-color : #fff;
    color : #c37c50;
    }
    footer {
    display : flex;
    justify-content : space-between;
    align-items : center;
    padding : 1rem;
    background-color : #3f3f3f;
    margin-top : 100px;
    }
    footer p {
    color : #dadada;
    }
    .footer-menu {
    color : #dadada;
    text-decoration : none;
    }
    header, main, footer {
    max-width : 1280px;
    margin : auto;
    }
    header {
    display : grid;
    grid-template-columns : 200px auto;
    align-items : center;
    background-color : #3f3f3f;
    text-align : center;
    }
    p {
    padding : 25px;
    }
    nav {
    display : flex;
    text-decoration : none;
    justify-content : space-around;
    }
    nav a {
    display : flex;
    padding : 0.5rem;
    margin : -0.14rem;
    color : #dadada;
    text-decoration : none;
    font-size : x-large;
    background-color : #3f3f3f;
    }
    nav a:hover {
    background-color : #fff;
    color : #c37c50;
    }
    footer {
    display : flex;
    justify-content : space-between;
    align-items : center;
    padding : 1rem;
    background-color : #3f3f3f;
    margin-top : 100px;
    }
    footer p {
    color : #dadada;
    }

    .footer-menu {
    color : #dadada;
    text-decoration : none;
}