@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    max-width: 960px;
    padding: 20px;
}

h2 {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

:var {
    --primary-color: #dadccc;
    --secondary-color: #385c5d;
    --accent1_color: #c37c50;
    --accent2-color: #6ca38e;

    --heading-font:'bree', serif;
    --paragraph-font: 'libre caslon', serif;
}