[data-tts-block-id].tts-active {
    background : rgb(206, 225, 255, 0.9) !important ;
}
[data-tts-sentence-id].tts-active {
    background : rgb(0, 89, 191, 0.7) !important ;
}

* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body {
    font-family : 'Montserrat', sans-serif;
    font-size : 18px;
    color : #333;
    background : #fff;
}

header {
    margin: 0 auto;
    width: 500px;
}

h1 {
    margin : 1rem;
    font-size : 1.5em;
    text-align: center;
    color: navy;
}

form {
    width: 500px;
    margin: 0 auto;
    padding: 1em;
    border: 3px solid rgba(5, 15, 193, 0.792);
    border-radius: 1rem;
    background-color: rgba(231, 246, 255, 0.991);
    display: grid;
}

fieldset {
    margin: 0.5rem;
    border: 1px solid rgba(5, 15, 193, 0.792);
    padding: 1.2rem;
}

legend {
    padding: 0.25rem;
    color: navy;
    font-size: 1.2em;
}

label, input, button, select, textarea {
    font-family: 'Poetsen One', sans-serif;
    font-size: 1.1em;
}

label {
    text-align: right;
    padding-right: 0.5em;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1em;
}

input[type="checkbox"] {
    width : 22px;
    height : 22px;
    vertical-align: bottom;
}

button {
    margin : 0.5em;
    background-color : navy;
    color : #fff;
    border : none;
    border-radius : 0.5em;
    padding : 0.75em;
    width: 10em;
    font-size : 1.25em;
}

button:hover {
    background-color : darkblue;
    color: #777;
}

footer {
    margin: 1em auto 0;
    width: 400px;
    text-align: center;
    padding: .5em;
    font-size: 0.8em;
    color: white;
    border-top: 1px solid #ccc;
}

.form-items {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 1em 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: .5em 0;
}

.feedback {
    text-align: right;
}